@page
@model NguyenTuanKietRazorPages.Pages.Dashboard.StaffModel
@{
    ViewData["Title"] = "Dashboard Staff";
}

<div class="container mt-4">
    <h2 class="mb-4">Dashboard Staff</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Quản lý</h5>
                </div>
                <div class="card-body">
                    <a asp-page="/NewsArticles/Index" class="btn btn-primary mb-3 mr-2">Quản lý bài viết</a>
                    <a asp-page="/Categoris/Index" class="btn btn-primary mb-3">Quản lý danh mục</a>
                    <a asp-page="/Tags/Index" class="btn btn-primary mb-3">Quản lý thẻ</a>
                    <a asp-page="/Profile" class="btn btn-secondary mb-3">Quản lý hồ sơ cá nhân</a>
                </div>
            </div>
        </div>
    </div>
</div>